<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="at.GrillTimer">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/bbq"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bbq"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddOrUpdTimerActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".TimerService" />
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <receiver android:name=".TimerCancelBroadcast"  android:exported="true">
            <intent-filter>
                <action android:name="TIMER_CANCEL" />
            </intent-filter>
        </receiver>
    </application>
</manifest>